<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2.2.dtd">

<web-app>
  <servlet>
    <servlet-name>
      ShowMsg
    </servlet-name>

    <servlet-class>
      ShowMessage
    </servlet-class>

    <init-param>
      <param-name>
        message
      </param-name>
      <param-value>
        Random Sample Message 
      </param-value>
    </init-param>

    <init-param>
      <param-name>
        repeats
      </param-name>
      <param-value>
        10
      </param-value>
    </init-param>
  </servlet>


    <servlet>
        <servlet-name>hello-green</servlet-name>
        <servlet-class>HelloServlet2</servlet-class>
        <init-param>
            <param-name>bgcolor</param-name>
            <param-value>white</param-value>
        </init-param>
        <init-param>
            <param-name>fgcolor</param-name>
            <param-value>green</param-value>
        </init-param>
    </servlet>
    
    <servlet>
        <servlet-name>hello-red</servlet-name>
        <servlet-class>HelloServlet2</servlet-class>
        <init-param>
            <param-name>bgcolor</param-name>
            <param-value>red</param-value>
        </init-param>
        <init-param>
            <param-name>fgcolor</param-name>
            <param-value>white</param-value>
        </init-param>
    </servlet>

</web-app>
